<!DOCTYPE html>
<html>
  <head>
    <title>Home | MINI URL</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include('header') %>

    <main>
      <h1>Hey, generate a MINI URL of your loonnnggg URL 😄</h1>

      <form method="POST" action="/url">
        <input type="text" name="url" placeholder="Enter your URL..." required />
        <button type="submit">Generate</button>
      </form>

      <% if (locals.id) { %>
      <p>
        <h4>Short URL:</h4>
        <a href="/url/<%= id %>"><h3>https://mini-url-ge91.onrender.com/url/<%= id %></h3></a>
      </p>
      <% } %>
    </main>

    <footer>© 2025 MINI URL. All rights reserved.</footer>
  </body>
</html>